<app-nav></app-nav>

<h1 class="text-center p-4 text-2xl">Forgot your password?</h1>
<form class="space-y-4 bg-slate-500 border-white md:space-y-6 p-6" [formGroup]="emailForm" (ngSubmit)="sendLink()">

    <div>
        <label for="email" class="block mb-2 text-sm font-medium text-white dark:text-white">What's your
            email address?</label>
        <input type="email" formControlName="email" id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-slate-500 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="you@example.com" autocomplete="true">
    </div>

    <button type="submit" id="submitBtn"
        class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-slate-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-slate-500">Send reset code</button>
</form>

